*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #e3f1ff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar{
    width: 160px;
    height: 160px;
    /* background-color: rgb(75, 128, 179); */
    position: relative;
}
.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgb(159, 168, 192),
                -6px -6px 10px -1px rgb(226, 239, 241);
}
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 3px 3px 6px -1px rgb(159, 168, 192),
               inset -3px -3px 16px -1px rgb(226, 239, 241);
}
#number{
    font-weight: bolder;
    color: #555;
}
circle{
    fill: none;
    stroke:url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: anim 2s linear forwards;
}
svg{
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes anim{
    100%{
        stroke-dashoffset: 154;
    }
}